<html>
<head>
    <title>User Selection</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="header">
         School Management App
    </div>
    <div class="container">
        <h2>Select your user type</h2>
        <form action="/user" method="get" id="userSelectionForm">
            {% for user_type in user_types %}
            <button type="button" onclick="submitForm('{{ user_type }}')">
                {{ user_type }}
            </button>
            {% endfor %}
            <input type="hidden" name="userType" id="hiddenUserType">
        </form>
    </div>

    <script>
    function submitForm(userType) {
        document.getElementById('hiddenUserType').value = userType;
        document.getElementById('userSelectionForm').submit();
    }
    </script>
</body>
</html>
