<html>
<head>
    <title>Parent Page</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="header">
        Parent Page
                <div class="top-buttons">
            <button onclick="window.history.back();">Go Back</button>
            <button onclick="location.href='/';">Home</button>
        </div>
    </div>
    <div class="container">
        <div class="instruction">
            To view your children's activities, insert your family name.
        </div>
        <form action="/parent-action" method="get">
            <div class="input-group">
                <label for="family">Family Name:</label>
                <input type="text" name="family" id="family">
            </div>
            <p class="instruction">You can either view or download the data as an Excel file.</p>
            <input class="action-button" type="submit" name="action" value="View">
            <input class="action-button" type="submit" name="action" value="Download">
        </form>
    </div>
</body>
</html>
