
<html>
<head>
    <title>Manager Page</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="header">
        Manager Page
        <div class="top-buttons">
            <button onclick="window.history.back();">Go Back</button>
            <button onclick="location.href='/';">Home</button>
        </div>
    </div>
    <div class="container">


        <h1>Welcome, School Manager!</h1>
        <h2>Good morning! Below are key insights about the school.</h2>
        <h4>Total Teachers: <strong>{{ teachers|length }}</strong></h4>
        <h4>Total Students: <strong>{{ num_of_students }}</strong></h4>
        {% if unregistered_students|length == 1 %}
          <h4><strong>{{ unregistered_students|length }}</strong> student is currently not enrolled in any class.</h4>
        {% elif unregistered_students|length > 1 %}
          <h4><strong>{{ unregistered_students|length }}</strong> students are currently not enrolled in any class.</h4>
            <h4> they are {{ unregistered_students|length /  num_of_students * 100 }}% of the total students </h4>
        {% else %}
          <h4>All students are currently enrolled in classes.</h4>
        {% endif %}


        <div id="analytics-container">
        <h2>numbers of student for each subject</h2>
        <img src="data:image/png;base64,{{ school_analytics }}" alt="analytics graph">
        </div>
        <h2> Students and teachers by class </h2>
<table>
    <tr>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Students</th>
    </tr>
    {% for teacher in teachers %}
    <tr>
        <td>{{ teacher['subject'] }}</td>
        <td>{{ teacher['name'] }}<br>
            {{ teacher['email'] }}
        </td>
        <td class="scroll">
            {% for student in children.get(teacher['subject'], []) %}
                {{ student['first_name'] }} {{ student['last_name'] }}<br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
        <br>
        <h3> Unregistered Students </h3>
<table>
    <tr>
        <th>Student Name</th>
        <th>Email</th>
    </tr>
            <tbody>
                {% for child in unregistered_students %}
                <tr>
                    <td>{{ child.first_name }} {{ child.last_name }}</td>
                    <td>{{ child.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


            </div>
</body>
</html>